@media (max-width: 768px) {
  .top-bar {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .navbar-collapse {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .navbar .container-fluid {
    margin: 0px 10px !important;
    display: flex;
    flex-direction: column;
  }

  .academician a {
    font-size: 13px;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 16px;
    height: auto;
    margin: 8px 0px 20px 0px;
    padding-left: 0px;
  }

  .navbar-nav .active-nav::after {
    bottom: -10px;
    height: 5px;
  }

  .navbar-collapse.active {
    display: flex;
  }

  .mains {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 24px 0px 15px; */
  }

  .main-logo {
    width: 150px;
  }

  /* main section */
  .container {
    display: flex;
    flex-direction: column;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    margin: 20px 0px;
    width: 100%;
    padding: 0px;
  }

  .content h1 {
    width: 92%;
    margin: 2px auto;
    font-size: 34px !important;
  }

  .content p {
    width: 90%;
    margin: 5px auto;
    font-size: 26px;
    margin-bottom: 15px !important;
  }

  .owl-carousel-A .owl-dots {
    left: 50%;
  }

  .btn-primary img {
    width: 20px;
  }

  .bttns {
    padding: 12px 12px;
    font-size: 14px;
  }

  .buttons {
    gap: 10px;
    width: 93%;
    margin: 0px auto;
  }

  .about_homes {
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
  }

  .about_left {
    width: 100%;
  }

  .about_right {
    width: 100%;
    margin-top: 20px;
  }

  .details-content {
    overflow-y: scroll;
    max-height: 150px;
  }

  .mains_check_abouts {
    margin-bottom: 10px;
  }

  .pandit_section_header {
    flex-direction: column;
  }

  .pandit_header_left h3 {
    font-size: 28px;
    margin-top: 10px;
  }

  .top_pandit_list {
    position: relative;
  }

  .view_all {
    position: absolute;
    top: 50px;
    right: 27px;
  }

  .view_all {
    padding: 11px 15px;
  }

  .main_plays {
    width: 95%;
  }

  .video_section_main {
    margin: 40px auto;
  }

  .play_button {
    width: 50px;
    height: 50px;
  }

  .poojas {
    font-size: 36px !important;
  }

  .pandit_cards_new {
    flex-wrap: wrap;
  }

  .mains_cardss {
    width: 100% !important;
  }

  .mains_check_abouts h1 {
    font-size: 27px;
  }

  .owl-carousel-C .pandi_cards {
    width: 91% !important;
  }

  .cart_section_headers {
    flex-direction: row;
    padding-right: 0px;
  }

  .pooja_samagri {
    top: 60px;
  }

  .desktop_bottom {
    display: none;
  }

  .mobile_bottom {
    display: block;
    width: 100%;
  }

  .exp_content {
    width: 90%;
    top: 20px;
  }

  .exp_content p {
    font-size: 23px;
  }

  .sectiion_process {
    flex-direction: column;
  }

  .process_left,
  .process_right {
    width: 100%;
  }

  .process_right {
    padding: 0px;
  }

  .news_exp {
    font-size: 32px !important;
    margin-top: 0px;
  }

  .step-content h2 {
    font-size: 19px;
  }

  .news_letter_updates {
    flex-direction: column;
    width: 80%;
    padding: 35px 30px;
  }

  .new_letter_left {
    width: 100%;
  }

  .news_leeter_right {
    width: 100% !important;
  }

  .news_letter_input {
    width: 100% !important;
  }

  .new_letter_left h3 {
    font-size: 24px;
  }

  .new_letter_left p {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .testomonials_section {
    padding-bottom: 10px !important;
  }

  .main_footers {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding-top: 100px;
    margin-top: -95px;
  }

  .footer_section {
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 50px 50px 0px 0px !important;
  }

  .about_images img {
    height: 130px;
  }

  .about_head_content h3 {
    font-size: 30px;
  }

  .main_ellipse {
    position: absolute;
    top: 9px;
    width: 19px;
    right: -8px;
    z-index: 1;
  }

  .about_head_content p {
    font-size: 14px;
  }

  .abouts_try_mains {
    flex-direction: column;
  }

  .about_left_sections {
    width: 100%;
  }

  .about_right_section {
    width: 100%;
    margin-top: 0px;
  }

  .pandit_header_left h5 {
    font-size: 25px;
  }

  .starts {
    font-size: 19px !important;
    margin-top: 4px !important;
  }

  .pandit_header_left p {
    font-size: 14px;
    line-height: 26px;
  }

  .pandit_header_left_test h3 {
    font-size: 28px;
  }

  .pandit_header_left_test {
    margin-bottom: 10px;
  }

  .container_mid_cards {
    width: 90%;
    margin: 0px auto;
  }

  .icon-wrapper {
    width: 60px;
    height: 60px;
  }

  .card_mid {
    padding: 20px;
  }

  .card-description {
    margin: 0px;
  }

  .card-title {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .step-content p {
    font-size: 13px;
  }

  .mains_blogging {
    flex-wrap: wrap;
  }

  .blogs_cards a {
    width: 100%;
  }

  .blogs_cards .simple_cards {
    padding: 0px;
    margin: 0px;
  }

  .simple_cards_products {
    width: 100%;
  }

  .blogs_cards_section {
    padding-top: 20px;
  }

  .mains_con {
    font-size: 26px !important;
    line-height: 34px !important;
    margin-top: 0px !important;
  }

  .map_con iframe {
    height: 300px;
    width: 100%;
  }

  .right_updates p {
    font-size: 12px;
    margin: 2px 0px;
  }

  .right_updates label {
    font-size: 14px;
  }

  .right_updates span {
    font-size: 12px;
  }

  .about_right_image {
    width: 100%;
    height: fit-content;
  }

  .about_right_image img {
    height: 420px;
  }

  .mains_fzqs {
    padding: 0px;
  }

  .main_policy p {
    font-size: 14px;
    line-height: 26px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer p {
    margin: 0px;
    font-size: 15px;
  }

  .plus {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }

  .faq-question.open span {
    font-size: 9px;
    width: 25px;
    height: 25px;
  }

  .main_policy {
    padding: 10px 20px;
  }

  .main_policy h2 {
    font-size: 20px;
  }

  .blos_details_main h3 {
    font-size: 23px;
    line-height: 32px;
  }

  .blog_details_img {
    flex-direction: column;
    align-items: center;
  }

  .blog_image {
    width: 100%;
  }

  .blog_image img {
    height: auto;
  }

  .blos_details_main p {
    font-size: 16px;
    line-height: 28px;
  }
}